SECRET_KEY=your-secret-key-here
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1
DATABASE_URL=postgres://postgres:postgres@localhost:5432/bondapp



# Sprint 10
# FCM_SERVER_KEY=

# Sprint 11
# STRIPE_SECRET_KEY=
# STRIPE_WEBHOOK_SECRET=

# Sprint 12
# ANTHROPIC_API_KEY=
